:root {
  --color-yellow: #E8D575;
  --color-red: #E88F9D;
  --color-green: #00A56A;
  --color-blue: #0068BF;
  --color-lightblue: #75c2e0;
  --color-blue-second: #1E90FF;
  --color-blue-third: #2E64FE;
  --color-blue-forth: rgba(18, 18, 249, 0.7);
  --color-blue-fifth: #0072C6;
  --color-white: #ffffff;
  --color-cloud: rgba(255, 255, 255, 0.9);
  --color-bg: whitesmoke;
  --box-shadow-regular: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

@media screen and (min-width: 768px) {
  :root {
    --regular-width: 500px;
    --regular-plane: 200px;
    --regular-height: 85vh
  }

}

@media screen and (max-width: 768px) {
  :root {
    --regular-width: 100vh;
    --regular-plane: 50vw;
    --regular-height: 100vh
  }
  
}


@font-face {
  font-family: 'karakaze';
  src: url('../../public/fonts/hannotate-sc-regular.otf') format('opentype');
  }


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'karakaze', sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  font-weight: 200;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.img {
  width: 40vh;
}


