.description {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  align-items: center;
  width: 85%;
  background-color: var(--color-bg);
  border-radius: 25px;
  padding: 8%;
  box-shadow: var(--box-shadow-regular);
}

.top {
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description p {
  text-align: justify;
  line-height: 2;
}

.map  {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4vw;
  grid-row-gap: 0px;
  height: 90vh;
}
  
.pie div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.first_period { 
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.second_period { 
  position: absolute;
  top: 3%;
  right: 0%;
 }
.third_period { 
  position: absolute;
  bottom: 5%;
  left: 10%;
 }
.forth_period  { 
  position: absolute;
  bottom: 5%;
  right: 0%;
 }

.map aside {
  height: 10vh;
  width: 16vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map a {
  text-decoration: none;
}

.map li {
  list-style-type: none;
}

.first_column,
.first_column ul,
.first_column li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first_column ul,
.first_column li {
  row-gap: 1vh;
  padding: 0;
  margin: 0;
}



.pie {
  position: relative;
  height: 100vh;
  width: 100vh;
  padding-top: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

/* .map_details{
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
} */