.modalBg {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.728);
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.modalLoginContent {
  width: 35%;
  height: 50%;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.modalRegContent {
  width: 35%;
  height: 65%;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
}


.closeBtn a{
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: unset;
  text-decoration: none;
}

.modalContent_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 10px;
}

.modalContent_body form{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.modalContent_body button {
  width: fit-content;
}

.modalContent_body a {
  text-decoration: underline;
}

.modalContent_body a:hover {
  color: blue;
  cursor: pointer;
}

.modalContent_success {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80%;
  justify-content: center;
  row-gap: 10px;
}

.modalContent_success .chkIcon{
  color: green;
  font-size: 100px;
}