.main_body {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
}

.homelogo img {
  object-fit: cover;
}

@media screen and(max-width:768px) {
  .homelogo img {
    width: 23vh;
  }
}

@media screen and(min-width:768px) {
  .homelogo img {
    width: 13vh;
  }
}

.main_header,
.main_header_login,
.main_header_color {
  padding: 0% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  width: var(--regular-width);
}

.main_header {
  background-color: var(--color-blue);
}

.main_header_color {
  background-color: var( --color-lightblue)  ;
}

.main_header_login {
  background-color: var(--color-white);
}

.homenav {
  display: flex;
  justify-content: center;
  column-gap: 2%;
  width: 95%;
}

.homenav > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 13vh;
}

.homenav a{
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  font-size: 16px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}



.homenav a.active {
  color: #222;
}

.homenav li:last-child a{
  width: 70%;
}
.homenav li:first-child a{
  font-size: 12px;
}


/* footer */
.main_footer,
.main_footer_fix,
.main_footer_color {
  border-top: 0.2px solid rgba(0, 0, 0, 0.08);
  color: var(--color-white) ;
  height: 55vh;
  padding: 2% 3% 5% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--regular-width);
} 

.main_footer {
  background-color: var(--color-blue);
}

.main_footer_fix {
  position: fixed;
  bottom: 0;
  background-color: var(--color-blue);
}

.main_footer_color {
  background-color: var(--color-lightblue);
}

.footer_about {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5vh;
}

.footer_about > figure {
  display: flex;
  align-items: center;
  column-gap: 5vh;
}

.footer_about span{
  padding: 1%;
}

.footer_about p {
  font-weight: 500;
  line-height: 2;
  letter-spacing: 2.5;
  font-size: 18px;
  text-align: center;
}

.footer_about img {
  width: 35vw;
  height: 10vh;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 5%;
}
.footer_nav {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}


.footer_nav > ul,
.footer_contact ul {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer_nav li,
.footer_contact li {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.footer_nav li:hover,
.footer_contact li:hover {
  cursor: default;
  transform: translateY(-1px);
  transition-duration: .3s;
}


.footer_nav li:first-child {
  padding-bottom: 4vh;
}
.footer_nav a {
  text-decoration: none;
  color: var(--color-white);
}

.footer_contact {
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  align-items: center;
}

.footer_contact ul {
  width: 100%;
  row-gap: 1.5vh;
}

.footer_contact li a,
.footer_contact li:first-child{
  display: flex;
  column-gap: 3vh;
  text-decoration: none;
  align-items: center;
  color: var(--color-white);
}

